@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

*{
  font-family:  "Archivo", sans-serif;
}
@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}